
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #024059;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #6ba7bf;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    font-size: 45px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    font-family: 'Berlin Sans FB Demi', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: none; 
    margin-right: 25px;
}

li {
    list-style-type: none;
    padding: none;
    align-items: center;
}

a {
    padding-right: 25px;
    color: #6ba7bf;
    text-decoration: none;
}

.gameHome {
    position: static;
    margin-top: 15px;
    margin-bottom: none;
    padding-left: 120px;
    background-image:url(../images/background-2.jpg);
    background-size: 50%;
    display: flex;
    justify-content: space-around;
}

#botao {
    width: 100px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#start-btn {
    width: 150px;
    height: 150px;
    margin-top: 60px;
    margin-left: -150px;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #6ba7bf;
    border-radius: 100%;
    border: none;
    box-shadow: 0 2px 15px 0 #fff, 0 6px 12px 0 #025159;
}  

.maze {
    padding-top: 50px;
    display: flex;
    margin-bottom: none;
}

#snack {
    margin-top: 480px;
    margin-left: -150px;
    display: flex;
    justify-content: left;
}

#mostrador {
    width: 120px;
    height: 60px;
    margin-top: 100px;
    margin-bottom: 460px;
    font-size: 48px;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    color: #6ba7bf;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 180px;
    box-shadow: 0 2px 15px 0 #fff, 0 6px 12px 0 #025159;
}