header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #024059;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #6ba7bf;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    font-size: 45px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    font-family: 'Berlin Sans FB Demi', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: none; 
    margin-right: 25px;
}

li {
    list-style-type: none;
    padding: none;
    align-items: center;
}

a {
    padding-right: 25px;
    color: #6ba7bf;
    text-decoration: none;
}

.gameHome {
    height: 100%;
    margin-top: 70px;
    padding-right: 10px;
    padding-left: 45px;
    background-image:url(../images/background-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-evenly;      
}


#start-btn {
    width: 150px;
    height: 150px;
    margin-top: 60px;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #6ba7bf;
    border-radius: 100%;
    border: none;
    box-shadow: 0 2px 15px 0 #fff, 0 6px 12px 0 #025159;
}  

.maze {
    padding-top: 30px;
    display: flex;
}
